{
    "driver_config": {
        "Zigbee_device_path": args.Z_device_path,
        "IO_LINEIN" : args.radio_manufacture,
        "IO_LINEOUT" : args.io_line
    },
    "driver_type": "openzwave",
    "registry_config": "config://registry_configs/{}".format(str(network.nodes[node].product_name) + ".csv")
 }
